<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#FFC4C4"/>
  <link rel="icon" href="./fav-icon.png">
  <link rel="manifest" href="app.webmanifest">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
  <title>Sup'Resto</title>
</head>

<body>
  <a href="#thecontent" class="skip">To the Content</a>
  <header>
    <div class="headerinner">
      <ul class="nav-mob">
        <li><a id="icon-menu" href="#" class="menu_drawer">☰</a>
        </li>
      </ul>
      <h1 class="headertitle">
        Sup'Resto
      </h1>
    </div>
    <nav id="navbar" class="nav">
      <ul class="navlist">
        <li class="navitem"><a href="#">Home</a></li>
        <li class="navitem"><a href="#/favorite">Favorite</a></li>
        <li class="navitem"><a href="https://www.linkedin.com/in/bimo-aryo-bramantyo-kr">About Us</a></li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero_inner">
        <h1 class="hero_title">Sup'Resto</h1>
        <p class="hero_desc">Find Any Best Restaurant in Indonesia That You Interested</p>
    </div>
 </div>
  <main id="thecontent" tabindex="0"></main>
  <footer>
    <p>Sup'Resto by BIMO ARYO BRAMANTYO KR &#169; 2022</p>
  </footer>
</body>

</html>